/* style_results.css */

#results {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-item {
  background-color: #1F1F1F;
  padding: 15px;
  margin: 10px 0;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.result-item img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 10px;
}

.result-item .antenna-info {
  color: #FFFFFF;
  font-size: 1.2em;
}

.image-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.responsive-image {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .result-item {
    width: 90%;
  }

  .video-item {
    width: calc(100% - 40px); /* Une vidéo par ligne sur mobile */
  }
}
